.InputCheck{
    /* position: relative; */
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;

    input[type=checkbox]{
        position: absolute;
        width: 0;
        height: 0;
        inset: 0;
        opacity: 0;
        margin: 0;
    }

    .iconBox{
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: #FFF;
        border: 2px solid var(--color_main);
        border-radius: 5px;
        position: relative;
    }

    input[type=checkbox]:checked + .iconBox{
        background-color: var(--color_main);
        &::before{
            position: absolute;
            left: 5px;
            bottom: 3px;
            display: block;
            content: "";
            width: 4px;
            height: 10px;
            background-color: #fff;
            border-radius: 2px;
            transform-origin: 2px 8px;
            transform: rotate(-40deg);
        }
        &::after{
            position: absolute;
            left: 5px;
            bottom: 3px;
            display: block;
            content: "";
            width: 4px;
            height: 16px;
            background-color: #fff;
            border-radius: 2px;
            transform-origin: 2px 14px;
            transform: rotate(40deg);
        }
    }
}
