.settings_container{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.SettingButton{

    width: 50px;
    height: 50px;
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    background-color: var(--color_main);
    border: 0;
    border-bottom-left-radius: 30px;
    cursor: pointer;
}


.settings{
    z-index: -1;
    position: fixed;
    right: 0;
    top: 0;
    width: 600px;
    max-height: 98vh;
    padding: 30px 50px 30px 30px;

    background-color: var(--color_gray1);
    border-bottom-left-radius: 10px;

    box-shadow: -3px 5px 4px rgba(0, 0, 0, 0.25);
    

    transform: translateX(100%);
    transition: 0.3s;
    font-size: 14px;
    visibility: hidden;
    color: #242;
    overflow-y: scroll;


    &.active{
     
        transform: translateX(0%);
        visibility: visible;
    }


    h2{
        font-size: 20px;
        font-weight: 700;
        color: var(--color_main);
    }

    h3{
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
    }

    .settings_item{
        padding-left: 16px;
        margin-top: 20px;
        &.grid{

            display: grid;
            grid-template-columns: 70px auto;
            /* display: flex; */
            align-items: center;
            /* align-items: flex-start; */
            
            column-gap: 30px;
            row-gap: 10px;

        }

        .settings_itemLabel{
            width: 70px;
        }
    }
}
.sub{
    padding-left: 16px;
}

.gridColSpan{
    grid-column: 2;
    grid-row: 2;
}


.InputRangeWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.btnFlexWrap{
    display: flex;
    column-gap: 8px;
    align-items: center;
}


.difficultyDetails{

    padding-left: 24px;
}