.Score{
    display: flex;
    flex-direction: column;
    /* height: 140px; */
    justify-content: space-evenly;
    /* margin-left: 5%; */
    padding: 20px 0;
    row-gap: 16px;

    :where(.score__row){
        display: flex;
        column-gap: 150px;
        row-gap: 4px;
    }
    
    :where(.scoreDisplay__score){
        color: #242;
        font-weight: 700;
        font-size: 16px;
    
    }
    :where(.scoreDisplay__combo){
        color: #999;
        font-weight: 700;
        font-size: 14px;
    }
}


@media (max-width: 1100px) {

    .Score{
        .score__row{
            column-gap: unset;
            justify-content: space-between;
        }
    }
}


@media (max-width: 450px) {

    .Score{
        padding: 0;
        .score__row{
            flex-direction: column;
        }
    }
}