.Timer{
    font-size: 48px;
    color: #242;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    width: 100%;
    height: 100%;
    
    position: relative;

    font-weight: 900;
    font-family: "SeoulAlrim-time";

    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    svg{
        grid-area: 1 / 1;
    }
    .TimerNumber{
        grid-area: 1 / 1;
    }
}