.GameButton{

    --color_main: #53b167;
    
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 20px;
    border: 2px solid var(--color_main);
    color: var(--color_main);
    border-radius: 4px;
    padding: 10px;
    background-color: #FFF;
    cursor: pointer;
    font-weight: 700;
    flex-shrink: 0;
    white-space: nowrap;


    .btn__gameMode{

        &::before{
            content: "";
            display: inline-block;
            width: 2px;
            height: 16px;
            background-color: var(--color_main);
            margin-right: 4px;
        }
    }

    &:hover{
        background-color: var(--color_main);
        color: #FFF;

        .btn__gameMode::before{
            background-color: #FFF;
        }
    }
}