.gameBoard{

    width: 90%;
    margin: 200px auto 0;
    border: 1px solid #ccc;
    background-color: var(--color_gray1);
    padding: 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 500px){
    .gameBoard{
        padding: 40px 10px;
        margin: 150px auto 0;
    }
}