.Score{
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-evenly;
    /* margin-left: 5%; */
    padding: 20px 0;

    :where(.score__row){
        display: flex;
        column-gap: 150px;
    }
    
    :where(.scoreDisplay__score){
        color: #242;
        font-weight: 700;
        font-size: 16px;
    
    }
    :where(.scoreDisplay__combo){
        color: #999;
        font-weight: 700;
        font-size: 14px;
    }
}
