.spinner--loading {
  animation: loadingRotate 2s linear infinite;
}

.path--loading {
  stroke-linecap: round;
  animation: loadingDash 1.8s ease-in-out infinite;
}

.path--timer{
  animation: timerDash var(--timerDuration) linear infinite;
}

@keyframes loadingRotate {
  100% {
    transform: rotate(720deg);
  }
}

@keyframes loadingDash {
  0% {
    stroke-dasharray: 0.02, 1;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 0.8, 1;
    stroke-dashoffset: -0.31;
  }
  100% {
    stroke-dasharray: 0.9, 1;
    stroke-dashoffset: -1;
  }
}




@keyframes timerDash{
  0%{
    stroke-dasharray: 0, 1;
    stroke-dashoffset: var(--strokeDashOffset);
    stroke: var(--strokeColor);
  }
  60%{
    stroke: var(--strokeColor);
  }
  
  100% {
    stroke-dasharray: 1, 0;
    stroke-dashoffset: var(--strokeDashOffset);
    stroke: rgb(202, 25, 25);
  }
}