.settings_container{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.SettingButton{
    width: 50px;
    height: 50px;
    background-color: var(--color_main);
    border: 0;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
    /* font-size: 28px; */
    font-size: 1.75rem;

    .icon_rotate{
        transition: transform 1.2s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
    
}
@media (hover: hover){
    .SettingButton:hover .icon_rotate{
        transform: rotate(180deg);
    }
}

.settings{
    z-index: -1;
    position: fixed;
    right: 0;
    top: 0;
    width: 600px;
    max-height: 98vh;
    padding: 30px 0;
    padding-right: 10px;
    background-color: var(--color_gray1);
    border-bottom-left-radius: 10px;
    box-shadow: -3px 5px 4px rgba(0, 0, 0, 0.25);
    transform: translateX(100%);
    transition: 0.3s;
    font-size: 0.875rem;
    visibility: hidden;
    color: #242;
    display: flex;
    flex-direction: column;

    &.active{
        transform: translateX(0%);
        visibility: visible;
    }

    .settingContent_container{
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 30px;
        padding-right: 30px;
    }


    h2{
        margin: 0;
        /* font-size: 20px; */
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--color_main);
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    h3{
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
    }

    :where(.settings_item){
        padding-left: 16px;
        margin-top: 20px;
        :where(&.grid){
            display: grid;
            grid-template-columns: 70px auto;
            align-items: center;
            column-gap: 30px;
            row-gap: 10px;
        }

        .settings_itemLabel{
            width: 70px;
        }
    }
}

.sub{
    padding-left: 16px;
}

.gridColSpan{
    grid-column: 2;
    grid-row: 2;
}


.InputRangeWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.btnFlexWrap{
    display: flex;
    column-gap: 8px;
    align-items: center;
}


.difficultyConfig{
    grid-column: 1 / -1;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-right: -2px;

    h4{
        margin: 0;
    }
}

.diffTabButton{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    color: inherit;
    padding: 0;
    font-family: "Pretendard";

    .diffTabButton_icon{
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.open .diffTabButton_icon{
        transform: rotate(180deg);
    }
}

.diffConfig_container{
    display: grid;
    transition: 0.4s;
    grid-template-rows: 0fr;

    &.open{
        grid-template-rows: 1fr;
    }

}

.diffConfig_list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 12px;
    padding-right: 2px;
    overflow: hidden;
}

.diffConfig_item{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


.settings_footer{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    row-gap: 16px;
    /* margin-top: 24px; */
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
}



@media (max-width: 735px) {
    .settings{width: 95%;}
}

@media (max-width: 450px){
    .SettingButton{
        width: 40px;
        height: 40px;
        border-bottom-left-radius: 20px;
        font-size: 20px;

    }
    .settings{
        position: fixed;
        /* padding: 30px 0px; */
        width: 100%;

        .sub{
            padding-left: 0;
        }

        .settingContent_container{
            padding-left: 8px;
            padding-right: 8px;
        }
        .settings_item{
            padding-left: 8px;
        }

        .settings_footer{
            align-items: revert;
        }
        .GameButton__container{
            flex-direction: column;
            justify-content: revert;
            width: 100%;
            row-gap: 16px;
            .GameButton{
                width: 100%;
            }
        }
        .btnFlexWrap{
            /* column-gap: 2px; */
            flex-direction: column;
            align-items: stretch;
            row-gap: 8px;
        }
    }

    .settings_item.grid{
        grid-template-columns: revert;
    }
    .gridColSpan{
        grid-column: unset;
        grid-row: unset;
    }

    .difficultyConfig{
        padding-left: 0;
    }


}

@media (max-width: 350px){
    .InputRangeWrap{
        flex-direction: column;
        justify-self: unset;
    }
    .InputRangeWrap input{
        width: 100%;
    }

    .detailWrap p span{
        display: block;
        margin-top: 5px;
        color: #909090;
        word-break: keep-all;
    }
}