.InputCheck{
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    word-break: keep-all;
    vertical-align: top;
    

    input[type=checkbox]{
        position: absolute;
        width: 0;
        height: 0;
        inset: 0;
        opacity: 0;
        margin: 0;
    }

    .iconBox{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 22px;
        height: 22px;
        background-color: #FFF;
        border: 2px solid var(--color_main);
        border-radius: 5px;
        flex-shrink: 0;
        color: transparent;
    }

    input[type=checkbox]:checked + .iconBox{
        background-color: var(--color_main);
        color: #FFF;
    }
}
